# 리스트

In [1]:
# 리스트에 추가
numbers = []
numbers.append(5) # 추가 연산, 추가는 원소 하나씩만 가능
numbers.append(8)
print(numbers)

[5, 8]

In [2]:
# 리스트에서 제거
numbersa = [1,2,3,4,4,5,6,7]
del numbersa[3]
print(numbersa)

[1, 2, 3, 4, 5, 6, 7]

In [3]:
numbersa.insert(4, 37) # 4번 인덱스에 37 삽입

In [4]:
# 알파벳 리스트의 인덱싱
alphabets_list = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']
print(alphabets_list[0])
print(alphabets_list[1])
print(alphabets_list[4])
print(alphabets_list[-1])

A
B
E
J

In [5]:
# 알파벳 문자열의 인덱싱
alphabets_string = 'ABCDEFGHIJ'
print(alphabets_string[0])
print(alphabets_string[1])
print(alphabets_string[4])
print(alphabets_string[-1])

A
B
E
J

In [6]:
# 슬라이싱
# 알파벳 리스트의 슬라이싱
alphabets_list = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']
print(alphabets_list[0:5])
print(alphabets_list[4:])
print(alphabets_list[:4])

['A', 'B', 'C', 'D', 'E']
['E', 'F', 'G', 'H', 'I', 'J']
['A', 'B', 'C', 'D']

In [7]:
# 알파벳 문자열의 슬라이싱
alphabets_string = 'ABCDEFGHIJ'
print(alphabets_string[0:5])
print(alphabets_string[4:])
print(alphabets_string[:4])

ABCDE
EFGHIJ
ABCD

In [8]:
# 리스트 데이터 바꾸기
numbers = [1, 2, 3, 4]
numbers[0] = 5
print(numbers)

[5, 2, 3, 4]

In [9]:
# 문자열 데이터 바꾸기 --- 불가능하다
name = "codeit"
name[0] = "c"
print(name)

TypeError: 'str' object does not support item assignment

In [10]:
# sorted : 기존 리스트는 건드리지 않고 정렬된 새로운 리스트 리턴
# sort : 아무것도 리턴하지 않고 기존 리스트를 정렬

abc = [19, 13, 2, 3, 5, 11, 7, 17]

new_list = sorted(abc)
print(new_list)
new_list_2 = sorted(abc, reverse=True)

abc.sort()
print(abc)
abc.sort(reverse=True)

[2, 3, 5, 7, 11, 13, 17, 19]
[2, 3, 5, 7, 11, 13, 17, 19]

# 튜플
- 리스트와 유사하게 데이터 여러 개를 하나로 묶는데 이용
- 튜플의 항목은 숫자, 문자열, 불, 리스트, 튜플, 세트, 딕셔너리 등으로 만듬
- 튜플의 속성은 리스트와 유사
***- (중요)튜플 데이터는 한 번 생성되면 그 이후에는 항목을 변경할 수 없음.***
- 소괄호 사용

In [11]:
tuple = (1,2,3,4)
tuple

(1, 2, 3, 4)

In [12]:
type(tuple)

tuple

# 세트
- 세트는 수학의 집합 개념을 파이썬에서 이용할 수 있도록 만든 데이터 타입
- 세트가 리스트와 튜플과 다른 점은 데이터의 순서가 없고 데이터를 중복해서 쓸 수 없다는 것
- 세트는 리스트에서 사용했던 메서드 외에 집합이 되는 교집합, 합집합, 차집합을 구하는 메서드를 사용할 수 있음

In [13]:
set1 = {1,2,3}
set1a = {1, 2, 3, 3}
print(set1)
print(set1a)

{1, 2, 3}
{1, 2, 3}

In [14]:
# 세트의 교집합, 합집합, 차집합 구하기
A = {1, 2, 3, 4, 5}
B = {4, 5,6 , 7, 8, 9, 10}
A.intersection(B) # 교집합
A.union(B) # 합집합
A.difference(B) # 차집합 A-B

A & B # 교집합
A | B # 합집합
A - B # 차집합 A-B

{1, 2, 3}

# 리스트 튜플 세트 간 타입 변환

In [19]:
a = [1, 2, 3, 4, 5]
type(a)

list

In [20]:
b = tuple(a)
type(b)

TypeError: 'tuple' object is not callable

In [21]:
c = set(a)
type(c)

set

In [22]:
b = list(b)
type(b)

NameError: name 'b' is not defined

# 리스트 꿀팁

In [23]:
primes = [2, 3, 5, 7, 11, 13, 17, 19, 23]
print(7 in primes)
print(12 in primes)

True
False

In [24]:
primes = [2, 3, 5, 7, 11, 13, 17, 19, 23]
print(7 not in primes)
print(12 not in primes)

False
True

**리스트 안의 리스트**

In [25]:
# 세 번의 시험을 보는 수업
grades = [[62, 75, 77], [78, 81, 86], [85, 91, 89]]

# 첫 번째 학생의 성적
print(grades[0])

# 세 번째 학생의 성적
print(grades[2])

# 첫 번째 학생의 첫 번째 시험 성적
print(grades[0][0])

# 세 번째 학생의 두 번째 시험 성적
print(grades[2][1])

# 첫 번째 시험의 평균
print((grades[0][0] + grades[1][0] + grades[2][0]) / 3)

[62, 75, 77]
[85, 91, 89]
62
91
75.0

In [26]:
numbers = [5, 3, 7, 1]
numbers.reverse()
print(numbers)

[1, 7, 3, 5]

In [27]:
members = ["영훈", "윤수", "태호", "혜린"]
print(members.index("윤수"))
print(members.index("태호"))

1
2

In [28]:
fruits = ["딸기", "당근", "파인애플", "수박", "참외", "메론"]
fruits.remove("파인애플")
print(fruits)

['딸기', '당근', '수박', '참외', '메론']

# split
  - "분리한다"에 포인트를 두면 좋음
  - 데이터에서 컬럼명을 제외하고 수치적인 데이터만을 가져올 때 사용
  - 문자열을 부분 문자열으로 나누고 싶을 때 사용하는 메소드
  - 분리한 뒤 리스트로 반환
  - split() 괄호 내부를 아무것도 안쓰면 공백을 모두 제거하고 \n 제거
  - 문자열을 나누는 것이지 리스트를 나누는게 아님
  - 리스트를 나누는 건 슬라이싱

In [29]:
# split
my_string = "1. 2. 3. 4. 5. 6"
print(my_string.split('. '))
print(my_string.split(". ")[2])
# split 뒤에 인덱싱을 함으로써 필요한 인덱스에 바로 접근 가능

['1', '2', '3', '4', '5', '6']
3

In [30]:
string = 'a b c d e'
print(string.split())

['a', 'b', 'c', 'd', 'e']

In [31]:
# 화이트 스페이스를 기반으로 공백제거 공백, 개행문자 모두 제거해서 출력해줌
print("   \n\n    2   \t  3  \n   5 78 11  \n \n".split())

['2', '3', '5', '78', '11']

In [32]:
# maxsplit : 지정한 숫자만큼 앞에서부터 문자열을 나눔
# maxsplit 코딩 생략하고 숫자만 기입 가능
string = "1. 2. 3. 4. 5. 6"
string.split('. ', maxsplit = 2)

['1', '2', '3. 4. 5. 6']

In [33]:
phone_number = '+82-01-2345-6789'
split_num = phone_number.split('-', 1)
print(split_num)
print('국내 전화번호 : {0}'.format(split_num[1]))

['+82', '01-2345-6789']
국내 전화번호 : 01-2345-6789

In [34]:
# 데이터에서 컬럼명을 제외하고 수치 데이터만 분리하기
with open('C:/Users/SHON/Desktop/KDT/3주차/coffeeShopSales.txt', 'rt', encoding = 'utf-8') as f:
    header = f.readline() # 컬럼명이 있는 첫줄만 읽어들인다.
    print(header)
    
    header_list = header.split() # 첫 줄을 분리해낸다.
    print(header_list)
    
    print(f.read()) # split 한 뒤 출력값은 다음과 같다.

날짜    에스프레소  아메리카노  카페라테  카푸치노

['날짜', '에스프레소', '아메리카노', '카페라테', '카푸치노']
10.15       10  	50         45       20
10.16       12		45         41       18
10.17       11		53         32       25
10.18       15		49         38       22

In [35]:
with open('C:/Users/SHON/Desktop/KDT/3주차/coffeeShopSales.txt', 'rt', encoding = 'utf-8') as f:
    header = f.readline() # 컬럼명이 있는 첫줄만 읽어들인다.
    print(header)
    
    header_list = header.split() # 첫 줄을 분리해낸다.
    print(header_list)
    
    print(f.read()) 
    
    espresso = []
    americano = []
    cafelatte = []
    cappucino = []

    for line in f:
        data_list = line.split()

        espresso.append(int(data_list[1]))
        americano.append(int(data_list[2]))
        cafelatte.append(int(data_list[3]))
        cappucino.append(int(data_list[4]))

print(espresso)
print(americano)
print(cafelatte)
print(cappucino)

날짜    에스프레소  아메리카노  카페라테  카푸치노

['날짜', '에스프레소', '아메리카노', '카페라테', '카푸치노']
10.15       10  	50         45       20
10.16       12		45         41       18
10.17       11		53         32       25
10.18       15		49         38       22
[]
[]
[]
[]

# strip()
 - 문자열 앞 뒤 공백 또는 개행문자 등의 불필요한 부분을 지울 때 사용
 - 앞 뒤에서 지정한 문자 외 다른 문자를 만날 때까지만 지정문자를 삭제
 - lstrip() rstrip()도 있음
 - str.strip([chars])

In [36]:
str = "   python     "
str.strip()

'python'

In [37]:
# 문자열을 지우는 거는 앞, 뒤에서 부터 시작해서 해당되는 문자 삭제
# 중간에 것들은 삭제 못함
test = 'aaaaaPythonbbbaaa'
temp1 = test.strip('a')
print(temp1)
temp2 = temp1.strip('b')
print(temp2)

Pythonbbb
Python

In [38]:
# 지우려는 문자를 여러개 지정가능
# 지정할 때 순서는 상관 없음
test = 'aaaaaPythonbbbaaa'
test.strip('a b')

'Python'

In [39]:
# 다른 문자를 만나기 전 까지만 삭제
'aaaaaBallaaaaa'.strip('a')

'Ball'

# join() 문자열 연결하기
- 리스트의 모든 항목을 하나의 문자열로 만들때 사용
- str.join(seq)
- str : 구분자 문자열(공백을 수도잇고 다른 기호일 수도 있고)
- seq : 문자열을 갖는 리스트

In [40]:
address_list = ['서울시', '서초구', '반포대로', '201(반포동)']
a = ' '
a.join(address_list)

'서울시 서초구 반포대로 201(반포동)'

# find() 문자열 찾기
 - 문자열에서 원하는 단어를 찾을 때 사용한다.
 - str.find(search str, start, end)
 - 첫번째로 일치하는 문자열의 위치 반환(문자열 0부터 시작)
 - 찾을 수 없으면 -1 반환

In [41]:
str_test = 'Python is powerful, Python is easy to learn'
print(str_test.find('Python', 10, 30))
print(str_test.find('Python', 35))

20
-1

# count() 문자열이 몇 번 나오는지 알기
- str.count(str, start, end)
- 없으면 0 반환

# startswith(), endswith()
 - 각 문자열이 지정된 문자열로 시작하는지 끝나는지를 검사할 때 사용 (T/F)
 - str.startswith(prefix, start, end) prefix: 지정된 문자열
 - str.endswith(suffix, start, end) suffix : 지정된 문자열

In [42]:
str_se = 'Python is powerful, Python is easy to learn'

print('Python으로 시작?', str_se.startswith('Python'))

Python으로 시작? True

# replace() 문자열 바꾸기
- 문자열에서 지정한 문자열을 찾아서 바꾸는 메소드
- str.replace(old, new[, count])
- str(문자열)에서 old(지정 문자열을) new(새 문자열)로 바꿈

- 특정 문자열을 삭제할 때도 replace() 활용가능

In [43]:
str_se = 'Python is powerful, Python is easy to learn'
print(str_se.replace('Python', 'IPython'))
print(str_se.replace('Python', 'IPython', 1))

IPython is powerful, IPython is easy to learn
IPython is powerful, Python is easy to learn

In [44]:
str_b = '[Python] [is] [fast]'
str_b1 = str_b.replace('[', '')
str_b2 = str_b1.replace(']', '')

print(str_b)
print(str_b1)
print(str_b2)

[Python] [is] [fast]
Python] is] fast]
Python is fast

# 문자열 포맷팅 방식

## 1. %기호

In [45]:
name = "똥강아지"
age = 32

print("제 이름은 %s이고 %d살입니다." % (name, age))

제 이름은 똥강아지이고 32살입니다.

In [46]:
r = 3 # %d는 정수로 저장
PI = 3.1415926535 # %f는 실수로 저장
print('반지름 : %d, 원주율 %f' % (r, PI))

반지름 : 3, 원주율 3.141593

## 2. format 메소드

In [49]:
name = "최지웅" 
age = 32

print("제 이름은 {}이고 {}살입니다.".format(name, age))

제 이름은 최지웅이고 32살입니다.

In [50]:
wage = 5
exchange_rate = 1142.16
print('5시간에 {:.1f}원 벌었습니다.'.format(5*wage*exchange_rate))
# .1 은 소수 첫째자리까지 나타내라는 말, f는 플로팅

5시간에 28554.0원 벌었습니다.

# 3. f-string

In [51]:
name = "최지웅"
age = 32

print(f"제 이름은 {name}이고 {age}살입니다.")

제 이름은 최지웅이고 32살입니다.

# 옵셔널 파라미터
파라미터에게 '기본값(default value)'을 설정할 수 있는데요. 기본값을 설정해 두면, 함수를 호출할 때 꼭 파라미터에 값을 안 넘겨 줘도 됩니다. 이런 파라미터를 '옵셔널 파라미터(optional parameter)'라고 합니다. 필수로 넘겨 줄 필요가 없으니까 '옵셔널'이라고 하는 거죠.

옵셔널 파라미터는 반드시 마지막에!!

In [52]:
def myself(name, age, nationality="한국"):
    print("내 이름은 {}".format(name))
    print("나이는 {}살".format(age))
    print("국적은 {}".format(nationality))


myself("코드잇", 1, "미국")  # 옵셔널 파라미터를 제공하는 경우
print()
myself("코드잇", 1)  # 옵셔널 파라미터를 제공하지 않는 경우

내 이름은 코드잇
나이는 1살
국적은 미국

내 이름은 코드잇
나이는 1살
국적은 한국

# 사전(dictionary)
key-value pair로 구성됨 <br>

dict_name = {key:value1, key2:value2, key3:value3}

*** value 값이 꼭 단일 값일 필요 없음, 리스트가 올 수도 튜플이 올 수도 있음***

##### 사전 메소드
- keys() : 사전에서 키 전체를 리스트 형태로 반환 / dict.keys()
- values() : 사전에서 값 전체를 리스트 형태로 반환 / dict.values()
- items() : 키와 값의 쌍을 (키, 값)처럼 튜플 형태로 반환 / dict.items()
- update(dict_data2) : 사전에 데이터 (dict_data2) 추가 / dict.update(dict_data2)
- clear() : 사전의 모든 항목 삭제 / dict.clear()

In [62]:
# 리스트와의 차이점
# 리스트는 인덱스가 순서대로 01234로 진행
# 사전은 딱히 순서가 없음
# 리스트의 인덱스는 정수형
# 사전의 인덱스는 정수형일 필요가 없음

In [53]:
my_dictionary = {
    5: 25,
    2: 4,
    3: 9
}
print(type(my_dictionary))

<class 'dict'>

In [54]:
my_dictionary[3] # key 3에 대한 값을 가져옴

9

In [55]:
my_dictionary[9] = 81 # 새로운 값 추가
print(my_dictionary)

{5: 25, 2: 4, 3: 9, 9: 81}

In [56]:
# 데이터 추가 update
addition = {"오렌지" : 100, "수박" : 101}
my_dictionary.update(addition)
my_dictionary

{5: 25, 2: 4, 3: 9, 9: 81, '오렌지': 100, '수박': 101}

In [57]:
del my_dictionary[3] # 특정 값 삭제
my_dictionary

{5: 25, 2: 4, 9: 81, '오렌지': 100, '수박': 101}

In [58]:
# 사전에는 숫자, 문자열, 튜플, 리스트, 사전까지도 모두 들어갈 수 있는데
# 만약 섞여있는 사전에서 사전을 출력하고 싶을 때 검색하는 법
mixed_dict = {
    1:10,
    'dict_num':{1:10, 2:20},
    'dict_list_tuple':{'A':[11, 12, 13]}, 'B':(21, 22, 23)
}

# 검색하는 법
mixed_dict['dict_num'][1]
mixed_dict['dict_list_tuple']['A'][0]

11

In [59]:
my_family = {
    '엄마': '김자옥',
    '아빠': '이석진',
    '아들': '이동민'
}

In [60]:
print(my_family['아빠'])

이석진

In [61]:
# 사전의 키와 값을 모두 받아오려면?
# 새로운 사전에 key 와 value 값을 서로 바꾸어 저장하고 싶다면?
for key, value in dict.items():
    new_dict[value] = key

TypeError: descriptor 'items' of 'dict' object needs an argument